{% extends "./base.html" %}

{% block title %}知乎 - 与世界分享你的知识、经验和见解{% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.bef9ecee.css') }}">
{% endblock %}

{% block body %}
<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">
            <h1 class="logo hide-text">知乎</h1>
            <h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
        </div>
        <div class="index-tab-navs">
        <div class="navs-slider">
            <a href="#signup" class="active">注册</a>
            <a href="#signin">登录</a>
            <span class="navs-slider-bar"></span>
        </div>
        </div>
    </div>
</div>
{% endblock %}


